<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo" id="logo">
        <div class="barra-busqueda">
            <input type="text"> 
            <p><i class="fa-solid fa-magnifying-glass" class="iconos"></i></p>
        </div>
        <p class="cuotas"><i class="fa-solid fa-dollar-sign"></i>Compra en cuotas y sin tarjeta de credito</p>
        <ul class="lista">
            <a href="" class="decoracion">
                <li class="divisiones">Ofertas</li>
            </a>
            <a href="" class="decoracion">
                <li class="divisiones">Tiendas Oficiales</li>
            </a>
            <a href="" class="decoracion">
                <li class="divisiones">Vender</li>
            </a>
            <a href="" class="decoracion">
                <li class="divisiones">Ayuda</li>
            </a>
        </ul>
        <ul>
            <a href="" class="decoracion">
                <li class="divisiones">Creá tu cuenta<i class="fa-solid fa-user" class="iconos"></i></li>
            </a>
            <a href="" class="decoracion">
                <li class="divisiones">Ingresá<i class="fa-solid fa-right-to-bracket" class="iconos"></i></li>
            </a>
            <a href="" class="decoracion">
                <li class="divisiones">Mis compras<i class="fa-solid fa-bag-shopping" class="iconos"></i></li>
            </a>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h4 class="titulares">Basado en tu ultima visita</h5>

                <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="">
                <p class="precio">$6000</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera moulinex</p>

                <img src="/images/img-macbook-pro-2019.jpg" alt="mackook" height="300px">
                <p class="precio">$6770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones">MacBook Pro 2019</p>

                <img src="images/img-samsung-galaxy-s10.jpg" alt="" height="300px">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy S10</p>

                <img src="/images/img-tv-samsung-smart.jpg" height="300px" alt="">
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">SmartTv Samsung 43"</p>

        </section>
        <section>
            <h4 class="titulares">Ofertas</h5>

                <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="">
                <p class="precio">$6000</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">cafetera moulinex</p>

                <img src="/images/img-macbook-pro-2019.jpg" alt="mackook" height="300px">
                <p class="precio">$6770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones">MacBook Pro 2019</p>

                <img src="images/img-samsung-galaxy-s10.jpg" alt="" height="300px">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy S10</p>

                <img src="/images/img-tv-samsung-smart.jpg" height="300px" alt="">
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">SmartTv Samsung 43"</p>
        </section>
    </main>
    <footer>
        <div class="container-ventajas">
            <i class="fa-solid fa-credit-card icons"></i>
            <h5>● Pagá con tarjeta o en efectivo</h5>
            <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="container-ventajas">
            <i class="fa-solid fa-basket-shopping icons"></i>
            <h5>● Envío gratis desde $ 2.500</h5>
            <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="container-ventajas">
            <i class="fa-solid fa-user-shield icons"></i>
            <h5>● Seguridad, de principio a fin</h5>
            <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <h5>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
</body>

</html>